* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    text-decoration: none;
}

/* this is for the navbar  */


nav {
    /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); */
    background-color: #fff;


}

/* nav{
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
} */

.navbar-brand {
    color: rgb(0, 0, 0) !important;
}

.nav-link {
    transition: border-color 0.3s ease;/
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav {
    color:
        rgb(0, 0, 0);
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);

}

.dropdown-menu.show {
    display: inline-block;
    width: 1440px;
    /* height: 96%; */
    position: absolute;
    top: 114%;
    left: 0;
    transform: translateX(-62%);
}


.nav-link .dropdown-toggle .show {
    display: inline-block;
    width: 1440px;
    /* height: 96%; */
    position: absolute;
    top: 114%;
    left: 0;
    transform: translateX(-68%);
}

.research-impact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 16px;
    max-height: 600px;
    /* Adjust based on content */

}

ul.dropdown-menu.custom-dropdown-menu.show {
    position: absolute;
    width: 200px;
    /* Adjust width as needed */
    left: 80%;
    /* Adjust the left position to align as desired */
    padding: 15px;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    background: #fff;
    /* Background color */
    border: 1px solid #ddd;
    /* Border color */
    border-radius: 0.25rem;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for better visibility */
    top: 119%;
}

ul.dropdown-menu.custom-dropdown-menus.show {
    position: absolute;
    width: 400px;
    /* Adjust width as needed */
    left: 80%;
    /* Adjust the left position to align as desired */
    padding: 15px;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    background: #fff;
    /* Background color */
    border: 1px solid #ddd;
    /* Border color */
    border-radius: 0.25rem;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for better visibility */
}


ul.dropdown-menu.custom-dropdown-menu-policies.show {
    position: absolute;
    width: 480px;
    left: 80%;
    padding: 15px;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

}

ul.dropdown-menu.custom-dropdown-menu.show li {
    margin-bottom: 10px;
}

ul.dropdown-menu.custom-dropdown-menus.show li {
    margin-bottom: 10px;
}

ul.dropdown-menu.custom-dropdown-menu-policies.show li {
    margin-bottom: 10px;
}




/* this is for the section here */
.bg-image-section {
    position: relative;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    /* Ensures the video is behind the overlay and content */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* Adjust the opacity as needed */
    z-index: 1;
}

.container {
    z-index: 2;
}

.animate-fade-in {
    animation: fadeIn 2s ease-in-out;
}

.animate-slide-up {
    animation: slideUp 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* course section */
/* .card {
    display: flex;
    flex-direction: column;
    height: 100%;
} */



/* Floating animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.card {
    height: 330px;
    width: 100%;
    box-shadow: #000000 3px 5px 3px;
    border-radius: 13px;
    display: flex;
    flex-direction: column !important;
}

.card:hover {
    animation: float 1s ease-in-out infinite;
    /* Apply floating animation on hover */
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
    /* Add shadow on hover */
    cursor: pointer;
}

.courses-section {
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    height: 530px;
}

.courses {
    display: flex;
    justify-content: space-evenly;
}

.card-img-top {
    height: 50%;
    width: 70%;
    /* display: flex; */
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 4% !important;
}

/* Styles for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    /* background-color: rgba(0, 0, 0, 0.5); Dark background with some transparency */
    border: none;
    border-radius: 50%;
    /* Rounded corners for a circular button */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: white;
    /* Icon color */
    border-radius: 50%;
}



.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: none;
    /* Remove default focus outline */
}

/* Custom icon styles */
.custom-prev-icon::before {
    content: '\f053';
    /* Font Awesome arrow-left icon */
    font-family: 'FontAwesome';
    color: black !important;
    font-size: 1.5rem;
}

.custom-next-icon::before {
    content: '\f054';
    /* Font Awesome arrow-right icon */
    font-family: 'FontAwesome';
    color: black !important;
    font-size: 1.5rem;
}

.carousel-control-next {
    right: -62px;
}

.carousel-control-prev {
    left: -62px;
}

@media (max-width: 767.98px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.courses-section {
    background: #f0f0f0 !important;
    height: 420px;
}


/* about us section */
.about-us {
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

}


.about-us img {
    border-radius: 20px;
}

/* branding section */
.branding-images ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}


.branding-images img {
    display: block;
    height: 340px;
    width: 240px;
    object-fit: contain;
}

.brands {
    display: flex;
    justify-content: space-evenly;
}

.branding-section img {
    width: 50%;
}


.branding-section ul {
    display: flex;
    list-style-type: none;
}

/* footer section */
.contact-section {
    padding: 50px 0;
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

}

.text-side {
    padding: 30px;
}

.form-side {
    padding: 30px;
}

.form-side form {
    padding: 20px;
}

.form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

footer .container a {
    color: #fff;
}

.social-media {
    display: flex;
    /* Use Flexbox for layout */

    gap: 20px;
    /* Adjust gap as needed for spacing */

}

/* Style for social media icons */
.social-icon {
    display: inline-flex;
    /* Ensure icons are aligned properly */
    align-items: center;
    /* Center icons vertically */
    width: 40px;
    /* Set width for icons */
    height: 40px;
    /* Set height for icons */
    font-size: 24px;
    /* Adjust icon size * /* Icon color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s, background-color 0.3s;
    /* Smooth transitions */
    border-radius: 50%;
    /* Rounded corners for circular icons */
    /* Background color for icons */
}

/* media queries */

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        color: rgb(255, 255, 255);
        overflow-y: auto;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        flex-direction: column;
    }

    .nav-link:hover {
        background: #000000;
        border-radius: 60px;
        /* color: #fff; */
    }

    .navbar-collapse.show {
        transform: translateX(0);
        z-index: 9
    }

    .navbar-toggler {
        background-color: #fff;
        z-index: 1050;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
    }

    .navbar-nav {
        margin-top: 10%;
        /* text-align: center; */
        margin-left: 10%;
    }

}


@media (max-width: 768px) {
    .service-section {
        flex-direction: column;
    }

    .service-content {
        text-align: center;
    }
}


@media (max-width:1300px) {
    .research-impact {
        display: flex;

        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        gap: 37px;
        padding: 16px;
        max-height: 600px;
        /* Adjust based on content */

    }

    .dropdown-menu.show {
        /* min-width: 468px; */
        width: 1022px;
        position: absolute;
        display: inline-block;
        left: 100%;
    }

    .service-content {
        padding: 5px;
        /* width: 222px; */

    }

    .service-content img {
        width: 210px !important;
        height: 137px !important;
    }


    .nav-link .dropdown-toggle .show {

        width: 100%;
        position: absolute;
        top: 114%;
        left: 0;
    }

    .research-impact h2 {
        font-size: 21px;
    }
}