* {
    font-family: 'Roboto', 'san-seriff';
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

/* digigmed navbar */

.navbar-brand img {
    max-width: 100%;
    max-height: 130px;
}

/* Add padding to the section */
.main-section {
    padding: 80px 0;
}

/* Adjust spacing for the headings and paragraphs */
.main-section h1 {
    margin-bottom: 30px;
}

.main-section p {
    margin-bottom: 40px;
}

.container-fluid {
    max-width: 1100px;
}

.nav-link {
    color: black;
}

.navbar {
    background-color: #fff;
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link:hover {
    color: #050c9c;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #050C9C;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #050C9C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.navbar .container-fluid ul {
    border-bottom: none;
}

/* Basic styles for the section */
.bg-image-section {
    position: relative;
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bg-image-section img {
    max-width: 420px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5);s */
    z-index: 1;
}

/* Center content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animation for the logo (slide-in effect) */
@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-logo {
    animation: slideIn 1s ease-in-out;
    z-index: 2;
    /* Ensure it stays above the video */
}

/* Animation for the welcome message (fade-in effect) */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-welcome {
    animation: fadeIn 2s ease-in-out;
    z-index: 2;
    /* Ensure it stays above the video */
    font-size: 93px;
    color: #ffff;

}

/* Ensure the h1 tag and logo are in the middle */
h1 {
    position: relative;
    margin-top: 20px;
    z-index: 2;
    top: -80px;
}



/* about us section */
.about-us {
    background: #f0f0f0;
    padding: 90px 0px;
    color: #000000;

}


.about-us img {
    border-radius: 20px;
}

.about-us h2 {
    font-size: 40px;
}


/* * Explore Journal CSS */
section.explore-section {
    background-color: #fff;
    padding: 20px 0px;
}

.explore-section h3 {
    font-size: 20px;
}

.explore-section img {
    max-width: 119px;
    border-radius: 50%;
    position: relative;
    left: 29%;
}


.container-fluid {
    max-width: 1113px;
    /* Corrected max-width value */
}

.container-fluid ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 17px;
    list-style-type: none;
    /* Moved from inline to internal */
    padding: 0;
    /* Moved from inline to internal */
}


.container-fluid a {
    text-decoration: none;
    /* Ensures links don't have underlines */
    color: black;
    /* Adjust link color if needed */
}

.container-fluid ul li a {
    color: #10147e;
}

.explore-section .container {
    display: flex;
    flex-direction: column;
    align-items: normal;
}




.explore-section img {
    border-radius: 50%;

}

.explore-section h1 {
    position: relative;
    margin-top: 20px;
    z-index: 2;
    top: 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.grow {
    transition: all .2s ease-in-out;

}

.grow:hover {
    transform: scale(1.5);
    cursor: pointer;

}

/* Delay for each image for staggered effect */
.explore-section .col-lg-3:nth-child(1) img {
    animation-delay: 0.1s;
}

.explore-section .col-lg-3:nth-child(2) img {
    animation-delay: 0.2s;
}

.explore-section .col-lg-3:nth-child(3) img {
    animation-delay: 0.3s;
}

.explore-section .col-lg-3:nth-child(4) img {
    animation-delay: 0.4s;
}



/* who can apply css  */
.who-can-apply {
    padding: 20px 0px;
    background-color: #000000;
}

.who-can-apply h1 {
    top: 0;
    text-align: center;
}

.who-can-apply img {
    border-radius: 50%;
}

.who-can-apply h3 {
    font-size: 20px;
}

.who-can-apply .container {
    align-items: normal;
}

.who-can-apply.grow {
    transition: all .2s ease-in-out;

}

.who-can-apply.grow:hover {
    transform: scale(1.5);
    cursor: pointer;

}

/* steps section csss */
.steps-container {
    padding: 20px 0px;
}

.steps-container p {
    font-size: 1em;
    color: #444;
    /* Slightly darker gray for better readability */
    line-height: 1.5;
    /* Increased line height */
}

.steps-container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px 0;
}



.icon {
    font-size: 40px;
    color: #050c9b;
    margin-bottom: 10px;
}

h1 {
    color: #000000;
}



.row .col-lg-3 p {
    text-align: justify;
}

.row .col-lg-3 h1 {
    text-align: center;
}

.steps-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}



.section-heading {
    padding: 20px 0px;
    font-weight: bold;
    font-size: 37px !important;
}

.additional-info {
    font-size: 0.9em;
    /* Smaller font size for tips */
    color: #666;
    /* Slightly lighter color for contrast */
    margin-top: 10px;
    /* Spacing above tips */
}

.row .fas {
    border-radius: 50%;
    width: 166px;
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 16%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.steps-container h1 {
    position: relative;
    margin-top: 20px;
    z-index: 2;
    top: 0px;
    font-size: 20px;
}

.steps-container .col-lg-3 {
    width: 100% !important;
}

/* brancd section css */
.brand-section {
    padding: 20px 0px;
}

.marquee-container {
    overflow: hidden;
    /* Hide overflow to keep the scroll smooth */
    white-space: nowrap;
    /* Prevent line breaks */
    position: relative;
    width: 100%;
    /* Full width */
}

.marquee-inner {
    display: inline-block;
    /* Allow items to be inline */
    animation: marquee 20s linear infinite;
    /* Adjust duration for speed */
}

.marquee-item {
    display: inline-block;
    /* Keep items inline */
    margin: 0 15px;
    /* Add some spacing between items */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
        /* Start from the right */
    }

    100% {
        transform: translateX(-100%);
        /* End to the left */
    }
}


/* css for brand section without marqueee */
.brand-section .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.brand-section img {
    width: 200px;
    height: 100px;
}



/* footer section css */
/* footer css */

.contact-info p a {
    color: black;
}

.social-icon {
    display: inline-flex;
    /* Ensure icons are aligned properly */
    align-items: center;
    /* Center icons vertically */
    width: 40px;
    /* Set width for icons */
    height: 40px;
    /* Set height for icons */
    font-size: 24px;
    /* Adjust icon size * /* Icon color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s, background-color 0.3s;
    /* Smooth transitions */
    border-radius: 50%;
    /* Rounded corners for circular icons */
    /* Background color for icons */
}

.contact-section {
    padding: 30px 0;
    background: #f0f0f0;

}

.contact-section p {
    font-size: 16px;
    color: #000000 !important;
}

.contact-section label {
    font-size: 20px;
    font-weight: bold;
}

footer .container a {
    color: #000000;
}


/* faq section css */

.faq .container {
    max-width: 746px;
}


/* contatct-us section css */


.register-section {
    padding: 90px 0px;
}

.register-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.form-floating {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 540px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* max-height: 200px; */
    /* overflow-y: auto; */
    border-radius: 5px;
}

.dropdown-content label {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: #333;
}

.dropdown-content label:hover {
    background-color: #f8f9fa;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.register-section h1 {

    position: relative;
    margin-top: 20px;
    z-index: 2;
    top: 0 !important;
}

/* courses css */
.digimed-courses{
    padding: 90px 0px;
}
.digimed-courses .container{
    align-items: normal;
}
.digimed-courses .card {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    min-height: 350px; /* Set a fixed height for uniformity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    border-radius: 20px; /* Rounded corners */
    width: 250px;
}

.digimed-courses .card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.digimed-courses .card-img-top {
    width: 100%; /* Ensure image takes full width */
    height: 200px; /* Set a fixed height for the image */
    object-fit: contain; /* Cover the area without stretching */
}

.digimed-courses .card-body {
    flex-grow: 1; /* Allow card body to expand to fill space */
    display: flex; /* Use Flexbox for card body */
    flex-direction: column; /* Stack title, text, and button vertically */
    justify-content: space-between; /* Space elements evenly */
    padding: 1rem; /* Add padding for better spacing */
}

.digimed-courses .card-text {
    flex-grow: 1; /* Allow text to grow and take available space */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.digimed-courses h5{
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.digi-course-pay span{
    font-size: 14px;
}

.course-amount {
    padding: 0 0 .8rem;
    color:#0d80f5;
}

.digimed-courses a{
    color: #000000;
}

/* courses click panaathum vara page oda css  */
.courses-images{
    padding: 30px 0px;
    background-color: #f0f0f0;
}
section.courses-images h1 {
    color: #10147e;
    font-size: 44px;
    font-family: 'Roobert', sans-serif;
    top: 0;
    position: relative;
    font-weight: bold;
    max-width: 746px !important;
}
.courses-images .container {
    max-width: 851px;
}

.courses-images img{
    border-radius: 20px;
}

.courses-images p{
    font-size: 27px;
    max-width: 839px;
    color: #000000;
}

.courses-images .offer {
    font-size: 20px;
    max-width: 707px;
}




.courses-digimed{
    padding: 30px 0px;
}

.courses-digimed h5{
    font-size: 40px;
    color:#10147e;
}

.course-desc{
    padding: 50px 30px;
    background-color: #f0f0f0;
}

.course-desc strong{
    color: black;
    font-size: 29px;
}

.course-desc p{
    font-size: 20px;
    color: #000000;
}

.courses-digimed .container{
    max-width: 1330px;
}

.research-benefits {
    list-style-type: disc; /* Keeps the default bullet points */
    padding-left: 0; /* Remove left padding */
    margin: 20px 0; /* Space above and below the list */
    text-align: center; /* Center-aligns the text */
}



.research-benefits li {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.5;
    display: list-item;
    text-align: left; 
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

.learn {
    list-style-type: disc; /* Keeps bullet points as default discs */
    padding-left: 20px; /* Adjusts padding for bullets */
    margin: 20px auto; /* Centers the list on the page */
    max-width: 800px; /* Limits the width of the content */
}

.learn li {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.5;
    position: relative;
    text-align: center;
    display: list-item;
    text-align: left; 
    max-width: fit-content;
}
.learn li p {
    margin-left: 20px; /* Indents the paragraph under the list item */
    font-size: 15px; /* Slightly smaller font for the paragraph */
    line-height: 1.4; /* Improves readability for paragraph text */
    color: #555; /* Makes the paragraph text slightly lighter */
}

/* broucher conttc page  */

.broucher-register-section h1 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    top:0px;
    font-weight: bold;
}

.courses-images p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.broucher-register-section .form-floating {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 540px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* max-height: 200px; */
    overflow-y: auto;
    border-radius: 5px;
}

.dropdown-content label {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: #333;
}

.dropdown-content label:hover {
    background-color: #f8f9fa;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.broucher-register-section img {
    width: 718px;
    height: 650px;
}
.broucher-register-section .container{
    display: block;
max-width: 1441px;
margin-left: 0px;
padding: 0px 0px;
}

.broucher-register-section .row{
    padding-left: 0px !important;
}




/* digimed section css */

.meet-digimed {
    padding: 30px 0px;
}

.meet-digimed img{
    border-radius: 20px;
}

.digi-meet{
    width: 409px;
    position: relative;
    top: -262px;
    background-color: rgba(255, 255, 255, 0.5) ;   padding: 20px;
    border-radius: 20px;
    left: 13px;

}

.digi-meet p{
    color: #000000;
    font-size: 17px;
}

.digi-meet h3{
    color: #10147e;
}

/* what we offer section css */
.we-offer-section .row .col-lg-12{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px 10px;
    width: 600px;
    height: 120px;
}

.we-offer-section h1{
    top: 0;
    color: #10147e;

}
.we-offer-section p{
    color: #000000;
}